* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #f2f2eb;
}

/* HOME - PAGINA */
.home-header {
    margin-top: 2em;
}

.home-header img {
    width: 80%;
    margin-left: 2.3em;
    margin-right: 2.3em;
}

p {
    font-family: calibri;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    position: fixed;
    background-image: url(nav-golf.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 20px;
}

nav {
    display: flex;
    justify-content: center;
    margin-top: 1.2em;
    margin-bottom: 1em;
}

nav a {
    margin: 1rem;
}

nav ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
}

.home-knop {
    margin-top: 1em;
    width: 130px;
}

.intro {
    position: relative;
    margin: 0;
}

.intro h1 {
    position: absolute;
    font-family: vladimir-script;
    font-weight: 500;
    font-size: 30px;
    top: 10%;
    left: 10%;
    max-width: 50%;
    color: #f2f2eb;
}

.intro p {
    position: absolute;
    margin-bottom: 3em;
    font-size: 14px;
    top: 24%;
    left: 10%;
    right: 30%;
    color: #f2f2eb;
}

.intro img {
    width: 100%;
    display: block;
}

.vintage-mode {
    margin: 3em 2em 3em 2em
}

.vintage-mode h2 {
    font-family: vladimir-script;
    color: #c11010;
    font-weight: 500;
    font-size: 35px;
}

.vintage-mode p {
    font-size: 14px;
}

.hoed {
    float: right;
    margin-top: 150px;
    margin-bottom: 40px;
    height: 80px;
}

.lees-meer-knop {
    margin-top: 1.5em;
    width: 90px;
}

.cream {
    margin: 3em 2em 10em 2em;
}

.cream h2 {
    font-family: vladimir-script;
    color: #c11010;
    font-weight: 500;
    font-size: 35px;
}

.cream p {
    font-size: 14px;
}

.vrouw {
    float: right;
    height: 170px;
    width: 80px;
    margin-top: 70px;
}

.bezoek-knop {
    margin-top: 1.5em;
    width: 90px;
}


/* WAAROM VINTAGE - PAGINA */
.header-vintage {
    background-image: url(header-bg2.png);
    height: 100px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}

.header-vintage h1 {
    margin-top: 1.2em;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #c11010;
    font-size: 50px;
}

.header-vintage h2 {
    text-align: center;
    margin-bottom: 4em;
    margin-left: 3em;
    font-family: vladimir-script;
    font-size: 40px;
    color: #c11010;
    font-weight: 500;
    line-height: 0.8;
}

.header-vintage img {
    margin-left: 10px;
    margin-top: 8px;
    width: 60px;
}

.vintage-kleding {
    margin-top: 5em;
    right: 50em;
}

.rood-hoed {
    margin-top: 50px;
    margin-right: 20px;
    float: right;
    animation: schud 1.5s ease infinite;
}

@keyframes schud {
    30% {
        transform: scale(1.1);
    }

    40%,
    60% {
        transform: rotate(-15deg) scale(1.1);
    }

    50% {
        transform: rotate(15deg) scale(1.1);
    }

    70% {
        transform: rotate(0deg) scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}

.voordelen {
    margin: 2em 2em 7em 2em;
}

.voordelen h2 {
    font-family: calibri;
    color: #c11010;
    font-weight: 800;
    font-size: 70px;
}

.voordelen p {
    font-size: 14px;
    margin-right: 1em;
}

.voordelen h3 {
    font-family: vladimir-script;
    font-weight: 500;
    color: #c11010;
    font-size: 35px;
}

.hangers {
    float: right;
    margin-right: 20px;
}

.voordelen-rechts {
    text-align: right;
    margin: 0 2em 7em 2em;
}

.voordelen-rechts h2 {
    font-family: calibri;
    color: #c11010;
    font-weight: 800;
    font-size: 70px;
}

.voordelen-rechts p {
    font-size: 13px;
    margin-left: 1em;
}

.voordelen-rechts h3 {
    font-family: vladimir-script;
    font-weight: 500;
    color: #c11010;
    font-size: 35px;
}

.voordelen-rechts img {
    float: left;
}

.witruimte {
    margin: 3em;
}


/* CONTACT - PAGINA */
.doe-mee {
    margin: 5em 2em 0 2em;
}

.doe-mee h2 {
    line-height: 0.9em;
    width: 70%;
    margin-bottom: 0.4em;
    font-family: vladimir-script;
    color: #c11010;
    font-weight: 500;
    font-size: 38px;
}

.doe-mee p {
    margin-bottom: 1em;
    font-size: 15px;
}

form {
    display: flex;
    flex-direction: column;
    margin-top: 2em;
    font-family: calibri;
}

#naam {
    background-color: #e6e6e6;
    padding: 10px;
    border-radius: 8px;
    border: none;
}

#email {
    background-color: #e6e6e6;
    padding: 10px;
    border-radius: 8px;
    border: none;
}

#bericht {
    background-color: #e6e6e6;
    padding: 10px;
    border-radius: 8px;
    border: none;
    font-family: calibri;
}

button {
    background-color: #f2f2eb;
    border: none;
}

.verstuur-knop {
    margin-top: 1em;
    width: 95px;
    display: flex;
}

.telefoon {
    width: 75%;
    margin: 5em 3em 7em 3em;
}

.contactgegevens {
    font-family: calibri;
    margin: 14em 2em 3em 2em;
}

.contactgegevens h2 {
    font-size: 15px;
}

@font-face {
    font-family: calibri;
    src: url(calibri-regular.ttf);
}

@font-face {
    font-family: vladimir-script;
    src: url(vladimir-script.TTF);
}