* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #f2f2eb;

}

header {
    margin-top: 2em;
}

nav {
    position: fixed;
    bottom: 0;
    width: 100%;
    display: block;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-image: url(nav-golf2.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 10px;
    padding-top: 20px;
    z-index: 1000;
}


nav a {
    margin: 4px;
    padding: 10px
}

nav ul {
    display: flex;
    list-style-type: none;
    margin-top: 1em;
}

.home-knop {
    margin-top: 1em;
}




.intro {
    position: relative;
    margin: 0;
}

.intro h1 {
    font-family: vladimir script;
    font-weight: 500;
    font-size: 25px;
    position: absolute;
    top: 10%;
    left: 10%;
    right: 50%;
    max-width: 50%;
    color: #f2f2eb;
}

.intro p {
    position: absolute;
    font-size: 16px;
    font-family: calibri;
    top: 24%;
    left: 10%;
    right: 35%;
    color: #f2f2eb;
}

.intro img {
    width: 100%;
    display: block;
}

.vintage-mode {
    margin-left: 2em;
    margin-right: 2em;
    margin-top: 3em;
    margin-bottom: 3em;
}

.vintage-mode h2 {
    font-family: vladimir script;
    color: #c11010;
    font-weight: 500;
    font-size: 40px;
}

.vintage-mode p {
    margin-right: 9em;
    font-size: 12px;
    font-family: calibri;
}

.hoed {
   margin: 0;
   margin-left: 13em;
}

.lees-meer-knop{
    margin-top: 0;
  


}

.cream {
    margin-left: 2em;
    margin-right: 2em;
    margin-top: 3em;
    margin-bottom: 8em;
}